@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* default style */
@layer base {
  html,
  body {
    @apply font-pretendard;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: theme('colors.gr-400');
  }
  #root {
    display: flex;
    flex-direction: column;
    /* padding: 0 1.25rem; */
    height: 100vh;
    min-height: 23.4375rem;
    width: 24.375rem;
    /* width: 26.875rem; 아이폰 14pro max 기준 */
    min-width: 21.5rem;
    background-color: theme('colors.white');
    overflow: hidden;
  }
  /* datepicker 위치 커스텀 */
  .react-datepicker-popper {
    transform: translate(120px, 139px);
  }
}

/* custom style */
@layer components {
  /* 헤더,네비 제외한 영역 */
  .h-inner {
    height: calc(100% - 120px);
  }
  /* 컨텐츠 영역 - 홈 */
  .inner-contents-home {
    padding: 1.5rem 1.25rem 0;
    overflow-y: auto;
    flex-grow: 1;
    height: calc(100% - 13.375rem);
  }
  /* 컨텐츠 영역 - 탭 */
  .inner-contents-other {
    padding: 1.5rem 1.25rem 0;
    overflow-y: auto;
    height: calc(100% - 9.625rem);
  }
  /* 컨텐츠 영역 - 팝업 */
  .inner-contents-popup {
    padding: 1.5rem 1.25rem 0;
    height: calc(100% - 8.875rem);
  }
  /* 풀 버튼 */
  .btn-full {
    width: 100%;
    text-align: center;
  }
  /* 가운데 정렬 */
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* list - 첫번째 요소를 제외한 나머지 */
  .item:not(:first-child) {
    margin-top: 1.25rem;
  }
  /* 체크아이콘 - primary */
  .checked_icon_pm:checked {
    border: none;
    background-size: 11px 8px;
    background-color: theme('colors.pm-500');
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/assets/icons/checked_pm.png');
  }
  /* 체크아이콘 - gray */
  .checked_icon_gr:checked {
    border: none;
    background-size: 11px 8px;
    background-color: theme('colors.gr-100');
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/assets/icons/checked_gr.png');
  }
  /* 들여쓰기 */
  .text-indent {
    text-indent: 0.75rem;
  }
}

/* tailwind에 없는 스타일 적용 시 사용 */
@layer utilities {
  /* .content-auto {
      content-visibility: auto;
    } */
}
