@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* default style */
@layer base {
  html,
  body {
    @apply font-pretendard;
    color: #505458;
  }
}

/* custom style */
@layer components {
  /* .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  } */
}

/* tailwind에 없는 스타일 적용 시 사용 */
@layer utilities {
  /* .content-auto {
      content-visibility: auto;
    } */
}
